<header class="row">
	<h1 id="store_name"><%= @store.name.titleize %><small id="store_number">&nbsp;&nbsp;<%= @store.number %></h1>
</header>
<div class="row">
	<p id="store_region">Region: <%= @store.region.name %></p>
	<p id="store_status">Status: <%= @store.status %></p>
</div>
<div class="row">
	<%= link_to fa_icon('edit', text: "Edit Store"), edit_store_path(@store), class: "btn btn-sm btn-primary" %>
	<%= link_to fa_icon('trash', text: "Archive Store"), store_path(@store), method: :delete, remote: true, class: "btn btn-sm btn-danger"%>
</div>

