<% if company.errors.any? %>
	<div class="row">
		<div class="errors">
			<h4 class="error-count alert alert-danger">
				<%= pluralize(company.errors.count, "error") %> prevented this company from being added to the database
			</h4>
		<ul class="list-unstyled">
			<% company.errors.full_messages.each do |msg| %>
				<li class="text-danger"><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
<%= form_for(company) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit "#{method} Company" %>
<% end %>